<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        a{
            position: relative;
            left: 40%;
        }
    </style>
</head>
<body>
<p><a	href="https://mail.qq.com/" target="mainFrame"><img src="http://img.mp.itc.cn/q_70,c_zoom,w_640/upload/20161215/eec04cbf638c4a55b69dc17d4e618680_th.jpg" width="200" height="80"> </a></p>
    <p><a	href="https://mail.163.com/" target="mainFrame"><img src="http://t.qiusuowu.com/often/images/163logo.gif" width="200" height="80"> </a></p>
    <p><a	href="https://mail.126.com/" target="mainFrame"><img src="http://a2.att.hudong.com/05/70/01300542524762140015700427734_s.jpg" width="200" height="80"> </a></p>
    <p><a	href="https://mail.sina.com.cn/" target="mainFrame"><img src="http://hiphotos.baidu.com/zhixin/pic/item/11794d43fbf2b2114b4edc3dc88065380cd78e26.jpg" width="200" height="80"> </a></p>
    <p><a	href="https://www.yeah.net/" target="mainFrame"><img src="http://c.hiphotos.baidu.com/zhidao/pic/item/5243fbf2b21193135a28bf6463380cd790238dff.jpg" width="200" height="80"> </a></p>
    <p><a	href="https://www.foxmail.com/" target="mainFrame"><img src="/static/foxmail.png" width="200" height="80"> </a></p>
</body>
</html>